<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <joint name="depth_camera_joint" type="fixed">
    <parent link="chassis"/>
    <child link="depth_camera_link"/>
    <origin xyz="0.12 0 0.2" rpy="0 0 0"/>
  </joint>

  <link name="depth_camera_link">
    <visual>
      <geometry>
        <box size="0.015 0.08 0.02"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.015 0.08 0.02"/>
      </geometry>
    </collision>
    <xacro:inertial_box mass="0.1" x="0.015" y="0.08" z="0.02">
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:inertial_box>
  </link>

  <joint name="depth_camera_optical_joint" type="fixed">
    <parent link="depth_camera_link"/>
    <child link="depth_camera_link_optical"/>
    <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
  </joint>

  <link name="depth_camera_link_optical"/>

  <gazebo reference="depth_camera_link">
    <sensor name="depth_camera" type="depth_camera">
      <pose relative_to="depth_camera_link_optical">0 0 0 0 -1.5708 -1.5708</pose>
      <topic>depth_camera</topic>
      <update_rate>30</update_rate>
      <camera>
        <horizontal_fov>1.047</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>R_FLOAT32</format>
        </image>
        <clip>
          <near>0.1</near>
          <far>10.0</far>
        </clip>
      </camera>
      <always_on>1</always_on>
      <visualize>true</visualize>
    </sensor>
  </gazebo>

</robot>
